<!DOCTYPE html>
<html>
  <head>
    <title>CHOCO APPLICATION PIPELINE</title>

  </head>

  <body>

    <!-- sign the page for security -->
    <%= csrf_meta_tags %>

    <!-- application stylesheet -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>


    <!-- application javascript file -->
    <#%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- this is an opptional way to specify the the javascript> -->
    <#script src="application.js" type="text/javascript"></script>


     <div class="container">
       <%= yield %>

       <%= debug(params) if Rails.env.development? %>
     </div>
  </body>

</html>
